<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subproject</title>
    <link href="/css/forms.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{fragments/appNav :: appNav}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Add Subproject</h1>
    <p>Below you can add a sub project. </p>
    <hr>
    <div th:if="${session.userId != null}">

        <form th:object="${project}" th:action="@{/projects/{parentId}/subprojects/add(parentId=${parentId})}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}" required placeholder="Enter project title" class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="date" id="startDate" name="dateRange.startDate" th:field="*{dateRange.startDate}" required class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="date" id="endDate" name="dateRange.endDate" th:field="*{dateRange.endDate}" required class="form-control"/>
            </div>

            <div th:if="${#fields.hasErrors('dateRange')}" class="text-danger">
                <p th:errors="*{dateRange}">Invalid start date</p>
            </div>

            <button type="submit" class="btn primary">Add Subproject</button>
            <a th:href="@{/projects/{parentId}/subprojects(parentId=${parentId})}" class="btn secondary">Back to Subprojects</a>
        </form>

        <div th:if="${session.userId == null}">
            <h1>You are not authenticated</h1>
        </div>

    </div>
</div>


</body>
</html>