<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org">
<head>
    <title>Add Subproject</title>
</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>
<h1>Add Subproject</h1>

    <div th:if="${session.userId != null}">

        <form th:object="${project}" th:action="@{/projects/{parentId}/subprojects/add(parentId=${parentId})}" method="post" style="max-width: 600px; margin: auto;">

            <div>
                <label for="title">Project Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}" required
                       placeholder="Enter project title"/>
            </div>
            <div>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="dateRange.startDate" th:field="*{dateRange.startDate}" required/>
            </div>
            <div>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="dateRange.endDate" th:field="*{dateRange.endDate}" required/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('dateRange')}" th:errors="*{dateRange}">Invalid start date</div>
            <div>
                <button type="submit" class="btn btn-success">Add Project</button>
                <a th:href="@{/projects/{parentId}/subprojects(parentId=${parentId})}" class="btn btn-secondary">Back to Subprojects</a>
            </div>
        </form>
    </div>

    <div th:if="${session.userId == null}">
        <h1>You are not authenticated</h1>
    </div>

<!-- Back to Subprojects -->

</body>
</html>

