<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="/projects-styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div> <!-- Include navigation -->

<!--<div th:if="${session.userId != null}">-->

<h1>All Projects</h1>
<a th:href="@{/add}" class="btn btn-success">Add New Project</a>
<ul>
    <li th:each="project : ${projects}">
        <strong th:text="${project.title}"></strong>
        <p th:text="'Start: ' + ${project.startDate}"></p>
        <p th:text="'End: ' + ${project.endDate}"></p>
        <p th:text="'Duration: ' + ${project.duration} + ' days'"></p>
    </li>
</ul>


<!--
<div th:if="${session.userId == null}">
    <h1>You are not authenticated</h1>
</div>
-->

</body>
</html>
