<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign Team Member</title>
    <link href="/css/forms.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/appNav :: appNav}"></div>

<div th:if="${session.userId != null}" class="container mt-5">
    <h1>Assign Member to Task</h1>
    <p>Below you can assign one team member to a task, so they know what to work on.</p>
    <hr class="divider">
    <form th:action="@{/project/{projectId}/{taskId}/assign(projectId=${projectId}, taskId=${taskId})}" method="post">
        <h5>Select a Member</h5>
            <div th:each="user : ${users}">
                <div class="form-check">
                    <input type="radio" th:value="${user.id}" th:id="${user.id}" name="userIdToAssign"
                           th:checked="${user.id == assignedMember}" class="form-check-input" />
                    <label th:for="${user.id}" class="form-check-label" th:text="${user.fullName}"></label>
                </div>
            </div>
        <button type="submit" class="btn primary">Assign</button>
        <a th:href="@{/project/{projectId}/tasks(projectId=${projectId})}" class="btn secondary">Cancel</a>
    </form>
</div>

<div th:if="${session.userId == null}">
    <h1>You are not authenticated</h1>
</div>

</body>
</html>