<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<div th:replace="~{fragments/appNav :: appNav}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Tasks for Project ID: <span th:text="${projectId}"></span></h1>
    <p>Below you can add a new task. It will automatically be assigned to the subproject. </p>
    <hr>
    <a th:href="@{/project/{projectId}/add(projectId=${projectId})}" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>Add new task</a>
    <div th:if="${#lists.isEmpty(tasks)}">
        <p>No tasks are associated with this project.</p>
    </div>

    <div th:if="${!#lists.isEmpty(tasks)}">
        <table class="table table-bordered">
            <thead class="table-secondary">
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Estimated Hours</th>
                <th>Assigned member</th>
                <th>Member actions</th>
                <th>Task actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <br>
                <td>
                    <span th:class="${task.priority.toLowerCase()}" th:text="${task.priority}"></span>
                </td>
                <td>
                    <span th:class="${task.status}" th:text="${task.status}"></span>
                </td>
                <td th:text="${task.deadline}"></td>
                <td th:text="${task.estimatedHours + ' hours'}"></td>
                <td>
                    <span th:if="${task.teamMemberDTO != null}" th:text="${task.teamMemberDTO.fullName}"></span>
                    <span th:if="${task.teamMemberDTO == null}">Not Assigned</span>
                </td>
                <td>
                    <div class="d-inline-block">
                        <form th:action="@{/project/{projectId}/{taskId}/removeMember(projectId=${projectId}, taskId=${task.id})}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger">Remove Member</button>
                        </form>
                        <a th:href="@{/project/{projectId}/{taskId}/assign(projectId=${projectId}, taskId=${task.id})}" class="btn btn-warning d-inline-block">Assign</a>
                    </div>
                </td>
                <td>
                    <div class="d-inline-block">
                        <a th:href="@{/project/{projectId}/{taskId}/edit(projectId=${projectId}, taskId=${task.id})}" class="btn btn-primary d-inline-block">Edit</a>
                        <form th:action="@{/project/{projectId}/{taskId}/delete(projectId=${projectId}, taskId=${task.id})}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>