<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<div th:replace="~{fragments/appNav :: appNav}"></div>

<div class="container mt-5">
    <h1 class="mb-4">Tasks for Project ID: <span th:text="${projectId}"></span></h1>
    <a th:href="@{/project/{projectId}/add(projectId=${projectId})}" class="btn btn-primary btn-sm mb-3">Add new task</a>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Estimated Hours</th>
                <th>Assigned member</th>
                <th>Member actions</th>
                <th>Task actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td class="editable" th:text="${task.title}"></td>
                <td class="editable" th:text="${task.description}"></td>
                <td>
                    <span th:class="${'priority ' + task.priority.toLowerCase()}" th:text="${task.priority}"></span>
                </td>
                <td>
                    <span th:class="${'task-status ' + task.status.toLowerCase()}" th:text="${task.status}"></span>
                </td>
                <td th:text="${task.deadline}"></td>
                <td th:text="${task.estimatedHours + ' hours'}"></td>
                <td>
                    <span th:if="${task.teamMemberDTO != null}" th:text="${task.teamMemberDTO.fullName}"></span>
                    <span th:if="${task.teamMemberDTO == null}">Not Assigned</span>
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <form th:action="@{/project/{projectId}/{taskId}/removeMember(projectId=${projectId}, taskId=${task.id})}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Remove Member</button>
                        </form>
                        <a th:href="@{/project/{projectId}/{taskId}/assign(projectId=${projectId}, taskId=${task.id})}" class="btn btn-warning">Assign</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a th:href="@{/project/{projectId}/{taskId}/edit(projectId=${projectId}, taskId=${task.id})}" class="btn btn-primary">Edit</a>
                        <form th:action="@{/project/{projectId}/{taskId}/delete(projectId=${projectId}, taskId=${task.id})}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/projects}" class="btn btn-secondary mt-3">Back to Projects</a>
</div>


</body>
</html>