
.error-message {
    color: red;
    text-align: center;
}
.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
}

.form-inline {
    display: inline-block;
    margin-right: 5px;
}
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

.navbar-header img {
    margin-right: 0.5rem;
}

.navbar-header .fs-4 {
    font-weight: bold;
    color: #333;
}

.navbar-header .nav {
    margin-left: auto;
}

.navbar-header .nav-link {
    color: #333;
    margin-left: 0.5rem;
    text-decoration: none;
}

.navbar-header .nav-link.active {
    color: #007bff;
    font-weight: bold;
}

.navbar-header .nav-link:hover {
    color: #0056b3;
}
