<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="icon" type="image/png" href="/proj.png">
    <link href="/css/user-styles.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <div th:replace="~{fragments/nav :: nav}"></div>
</head>
<body>
<div th:if="${session.userId != null}">
    <h1>You already have an account and are logged in.</h1>
</div>
<div th:if="${session.userId == null}">
<div class="form-container">
    <h1>Register New User</h1>
    <div th:if="${success}" >
        <p th:text="${success}"></p>
        <br>
        <a th:href="@{/login}">Login</a>
    </div>
    <div th:if="${success == null}">
        <form th:object="${user}" th:action="@{/register}" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email"
                   pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                   title="Email should be valid" required>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <label>
                <select th:field="*{role}" class="form-control"   required>
                    <option value="">--Select role--</option>
                    <option th:each="role : ${T(kea.eksamen.model.Role).values()}" id="role" th:value="${role}" th:text="${role.getDisplayName()}"></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password"
                   pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,}$"
                   title="Password must be at least 8 characters long and contain a mix of letters and numbers."
                   required>
        </div>
        <div class="button-group">
            <button type="submit" class="btn primary">Submit</button>
        </div>
    </form>
    </div>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>
</div>
</body>
</html>
