<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="nav" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Project Management Tool</title>
    <link rel="stylesheet" href="/css/indexNav.css">
</head>
<body>

    <header class="navbar-header">
        <img alt="Favicon" height="25" width="25" src="/favicon.ico">
        <h1 class="navbar-header-icon">Project Management Tool</h1>
        <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>

            <li th:if="${session.userId != null}" class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>

            <li th:if="${session.userId == null}" class="nav-item">
                <a href="/register" class="nav-link">Sign up</a>
            </li>
            <li th:if="${session.userId == null}" class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
        </ul>
    </header>
</body>
</html>