.btn-group {
    display: inline-block;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.primary,
.success,
.secondary,
.warning,
.danger {
    color: white;
}

.primary,
.success {
    background-color: #007bff;
}

.secondary {
    background-color: #6c757d;
}

.warning {
    background-color: #ffc107;
}

.danger {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.9;
}

.btn-group a {
    text-decoration: none;
}