<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-item">
    <button type="button" class="btn btn-warning" onclick="autoFillAndSubmit()">Login for debug</button>
</div>


<form id="loginForm" action="/login" method="post" style="display: none;">
    <input type="email" id="email" name="email" />
    <input type="password" id="password" name="password" />
</form>
<script>
    function autoFillAndSubmit() {
        document.getElementById('email').value = 'alice.smith@example.com';
        document.getElementById('password').value = 'password123';
        document.getElementById('loginForm').submit();
    }
</script>
</body>
</html>